data/
**/*.log
__pycache__/
stimuli_selection/lexicons/anpw_r.csv
stimuli_selection/lexicons/subtlex-pl.csv
stimuli_selection/models/piper/*.onnx
stimuli_selection/models/piper/*.onnx.json


# Python
__pycache__/
*.pyc
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# OS / IDE
.vscode/
.DS_Store
Thumbs.db
